<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author %>. All rights reserved.</p>
      <p>Powered by <a href="https://hexo.io/" target="_blank">Hexo</a></p>
    </div>
  </div>
</footer>